/* Définition des polices personnalisées */

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;


}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* Eléments principaux de la page */
body
{
   background: url('image/fond_2.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
} 
#bloc_page
{
    /*width: 900px;*/
    margin: auto;

}

section h1, footer h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}
/* Header */



#titre_principal
{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    font-weight:bold;
    text-decoration: underline;
}

/*
#logoHelha
{
    border: 3px black double;

}
#logoIsicht
{
    border: 3px black double;
    
}*/

header h1
{
    font-family: Dayrom, serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header h2
{
    font-family: Dayrom, serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}
/* Navigation */
nav
{
    display: flex;
    justify-content: space-around;
    border: 3px black groove;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: underline;
}

nav a:hover
{
    color: white;
    border-bottom: 10px solid white ; /* #183152*/
}

section
{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    

}

#Mesures
{
    border: 3px black groove;
    width: 375px;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    background-color: rgba(255,255,255,0.4);

    
}

#Etat
{
    border: 3px black groove;
    width: 375px;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    background-color: rgba(255,255,255,0.4);
    
}
#Etat h1
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#Mesures h1
{
    display: flex;
    flex-direction: row;
    align-items: center;
}


footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navigation */

.nav2 ul
{
    list-style-type: none;
    display: flex;
}

.nav2 li
{
    margin-right: 15px;
}

.nav2 a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

.nav2 a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}